extends layout

block content
  .row-fluid.marketing
    h4 Beer + Github = Love.
    p Support your favorite opensource projects with beer!


    h4 Created with love &amp; beer by:
    p
      a(href='http://whatit.is') zeekay
      a(href='http://twitter.com/zeekay') &nbsp;
        i.icon-twitter
      a(href='http://github.com/zeekay') &nbsp;
        i.icon-github
    p
      a(href='http://fhwrdh.net') fhwrdh
      a(href='http://twitter.com/fhwrdh') &nbsp;
        i.icon-twitter
      a(href='http://github.com/fhwrdh') &nbsp;
        i.icon-github
