extends layout

block content
  .row-fluid.marketing
    h4 Created with beer &amp; love by:
    p
      a(href='http://whatit.is') zeekay
      | /
      a(href='http://twitter.com/zeekay') twitter
      | /
      a(href='http://github.com/zeekay') github
    p
      a(href='http://fhwrdh.net') fhwrdh
      | /
      a(href='http://twitter.com/fhwrdh') twitter
      | /
      a(href='http://github.com/fhwrdh') github
