extends layout

block content
  h3 Send a beer to your favorite developer!
  form#search-query
    input.search-query(style='', type='text', placeholder='Search', data-search-type='user')
    .dropdown.search-dropdown
      a.dropdown-toggle(data-toggle='dropdown', href='')
        span User
        i.icon-caret-down
      ul.dropdown-menu(role="menu")
        li
          a.search-repo(href='#')
            | Repo
        li
          a.search-user(href='#')
            | User

    button.btn(style="margin-left: 5px") Submit
  div#search-results
